

<div  style="height:100vh;  background-color: #4c95e6;">
  <div class="container-fluid">
  
  <div class="main-header text-center">
    AGENTDESK PROJECT (SRIKANTH)
  </div>
  
  <div class="col-md-offset-3 col-md-6">
      <div class="cardformain" style="text-align:center">
        <h4> JSON FILTERING AND SEARCHING </h4>
        <br>
        <ul style="text-align:left;">
          <li> <h6> In this I have used PrimeNG for viewing of data</h6> </li>
          <li> <h6> Also Search function RealTime and On Enter is done</h6> </li>
          <li> <h6> Virtual Scroll - Initial 10 rows will be loaded and only on scroll further contents are loaded</h6></li>
          <li> <h6> Pagination - Pagination of the contents are viewed only 5 per page is done</h6></li>
          <li> <h6> Have used Services, Components, Routing, Http, Input, Directives, Pipes etc.</h6></li> 
        </ul>
        <br>
        <div class="row">
          <div class="col-md-offset-1 col-md-4">
              <button class="btn btn-primary" routerLink="./selection">OPEN PROJECT API</button>
          </div>
          <div class="col-md-offset-2 col-md-4">
              <button class="btn btn-primary" routerLink="./givenselection">OPEN PROJECT GIVEN</button>
          </div>
        </div>
    </div>
  </div>
  </div>
  </div>