<p-growl [(value)]="msgs"></p-growl>

<br>

<div class="row">
  <div class="col-md-12" style="text-align: center;">
      <button class="btn btn-primary" style="float:left;font-size:15px;" [routerLink]="['/']"><i class="fa fa fa-angle-left"></i> &nbsp; BACK</button>
    <span>
      <button class="btn" style="border-radius: 0px;width:25%;margin-top:8px" [ngClass]="!listshow ? 'btn-secondary' : 'btn-primary' "
        (click)="listshow = true;">VIRTUAL SCROLL</button>
      <button class="btn" style="border-radius: 0px;margin-left: -4px;width:25%;margin-top:8px" [ngClass]="listshow ? 'btn-secondary' : 'btn-primary' "
        (click)="listshow = false;">PAGINATION</button>
    </span>
  </div>
</div>

<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <input type="number" class="form-control" (keyup)="changesonsearch()" [(ngModel)]="albumId" placeholder="Search with AlbumID (Runtime)">
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" (keyup.enter)="changesonfilter()" [(ngModel)]="title" placeholder="Search with Title (On Enter)">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" (click)="changesonfilter()"> SEARCH </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div style="height:95vh;" *ngIf="showSpinner">
        <div style="margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color:#4c95e6">
          <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!showSpinner">
        <div *ngIf="listshow">
          <app-listjson [datatoshow]="datatoshow"></app-listjson>
        </div>
        <div *ngIf="!listshow">
          <app-paginate [datatoshow]="datatoshow"></app-paginate>
        </div>
      </div>
    </div>
  </div>
</div>