
<p-dataList [value]="datatoshow" [paginator]="true" [rows]="5">
    <p-header>
        PAGINATION
    </p-header>
    <ng-template let-datas pTemplate="item" let-i="index">
        <div class="mainborder">
          <div class="row">
            <div class="col-xs-12 col-md-3" style="text-align:center;">
              <img src="{{datas.thumbnailUrl}}">
            </div>
            <div class="col-xs-12 col-md-9">
              <br>
              <div class="row" style="margin:10px;">
                <div class="col-xs-4 col-md-4">Album ID: </div>
                <div class="col-xs-8 col-md-8">{{datas.albumId}}</div>
              </div>
              <div class="row" style="margin:10px;">
                <div class="col-xs-4 col-md-4">URL: </div>
                <div class="col-xs-8 col-md-8">
                  <a href="{{datas.url}}" target="_blank">{{datas.url}}</a>
                </div>
              </div>
              <div class="row" style="margin:10px;">
                <div class="col-xs-4 col-md-4">Title: </div>
                <div class="col-xs-8 col-md-8">{{datas.title}}</div>
              </div>
              <br>
            </div>
          </div>
        </div>
      </ng-template>
</p-dataList>
<br><br>